.theme-dark {
	--menu-background: var(--solitude-bg-dark);
	--menu-border-color: var(--solitude-surface-3);
	--modal-background: var(--solitude-bg);
	--modal-border-color: var(--solitude-surface-3);
	--prompt-background: var(--solitude-bg);
	--popover-background: var(--solitude-bg);
	--suggestion-background: var(--solitude-bg-dark);
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
